.example-spacer {
  flex: 1 1 auto;
}

.field {
  padding: auto;
  margin-top: auto;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.nav {
  text-decoration: none;
  color: white;
}

.nav:hover {
  color: rgb(97, 136, 255);
  pointer-events: none;
}

.example-10::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example-10 {
  margin: auto;
  padding: auto;
  border: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
